h1 {
  margin-bottom : 30 px ;
}
de entrada [type = "text"] {
  ancho : 200 px ;
  flotador : izquierda ;
}
.narrow botón {
  flotador : izquierda ;
  margin-left : 10 px ;
}
.loader {
  pantalla : ninguno ;
  margin-left : 5 px ;
  font-size : 10 px ;
  flotador : izquierda ;
  border-top : 1.1 em  sólida  RGBA ( 147, 147, 147, 0.2 );
  border-right : 1.1 em  sólida  RGBA ( 147, 147, 147, 0.2 );
  border-bottom : 1.1 em  sólida  RGBA ( 147, 147, 147, 0.2 );
  border-left : 1.1 em  sólida  # 676767 ;
  -webkit- transformar : translateZ ( 0 );
  -MS- transformar : translateZ ( 0 );
  transformar : translateZ ( 0 );
  -webkit- animación : Carga 8  1.1 s infinita lineal;
  animación : Carga 8  1.1 s infinita lineal;
}
.loader ,
.loader : después de {
  la frontera de radio : 50 % ;
  anchura : 3 em ;
  Altura : 3 em ;
}
@ -webkit-fotogramas clave load8 {
  0% {
    -webkit- transformar : rotar ( 0 grados );
    transformar : rotate ( 0 grados );
  }
  100% {
    -webkit- transformar : rotación ( 360 grados );
    transformar : rotación ( 360 grados );
  }
}
@keyframes load8 {
  0% {
    -webkit- transformar : rotar ( 0 grados );
    transformar : rotate ( 0 grados );
  }
  100% {
    -webkit- transformar : rotación ( 360 grados );
    transformar : rotación ( 360 grados );
  }
}
